Config { font = "xft:Monospace:pixelsize=20:antialias=true:hinting=true"
       , additionalFonts = []
       , borderColor = "black"
       , border = BottomB
       , bgColor = "#121212"
       , fgColor = "#f0f0f0"
       , alpha = 255 
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Cpu ["-L","3","-H","50", "--normal","#3CB371","--high","#666666"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Date "%H:%M - %a %b %_d %Y " "date" 10
                    , Run StdinReader
                    , Run Com "/home/notation/.config/scripts/current-song.sh" [] "song" 1
                    , Run Com "/bin/sh" ["-c", "spt pb -f '%t - %a' || echo ''"] "spt" 10 
                    , Run Com "/bin/zsh" ["-c", "pomodoro-cli status || echo ''"] "pomodoro" 1
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " %StdinReader% }\
                    \{%spt%%song% | %pomodoro% | %memory% | %date%              "
       }
