Config { font = "xft:Monospace:pixelsize=20:antialias=true:hinting=true"
       , additionalFonts = []
       , borderColor = "black"
       , border = BottomB
       , bgColor = "black"
       , fgColor = "white"
       , alpha = 255 
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Cpu ["-L","3","-H","50", "--normal","#3CB371","--high","#666666"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Date "%H:%M - %a %b %_d %Y " "date" 10
                    , Run StdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " %StdinReader% }\
                    \{<fc=#666666>|</fc> %cpu% <fc=#666666>|</fc> %memory% <fc=#666666> | </fc><fc=white>%date% </fc>"
       }
