* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: black;
    color: #f0f0f0;
}

#tags button {
    padding: 5px 3px;
    color: #636363;
    font-style: italic;
}

#tags button.occupied {
    color: #e3e3e3;
    font-style: normal;
}

#tags button.focused {
    color: #FFA500;
    font-weight: bold;
}

#clock {
}

#tray, #clock, #memory, #battery {
    padding: 0px 15px;
    border-left: 1px solid #636363;
}

#memory {
}
